            *{ padding: 0; margin: 0; box-sizing: border-box; }
            body{
                height: 100vh;
                padding: 20px 20px;
            }
            .box{
                height: 100%;
                width: 100%;
                background: linear-gradient(to top, rgba(65, 62, 62, 0.75), rgba(0,0,0,0.75)), url(Travel_Lifestyle_Recreation_n4aq8s.jpg);                
                background-position: center;
            }
            .box nav{
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;              
                padding: 10px 0 0 40px;
                font-family: 'Times New Roman';               
            }
            nav h2{
                font-size: 15px;               
                color: white;
            }
            nav ul{
                display: flex;
                font-family:'Helvetica Neue';
            }
            nav ul li{
                margin-right: 25px;
                list-style: none;
                font-size: 24px;
                cursor: pointer;
                transition: 0.5s;
                color: #fff;
                padding: 5px;                            
            }
            nav ul li a{
                text-decoration: none;
                color: white;

            }
            nav ul li:hover{
                border: 0.2px solid aquamarine;
                border-bottom-left-radius: 15px;
                border-top-right-radius: 5px;                
            }
            .new{
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                color: white;
            }
            .new h1{
                font-size: 30px;
                margin-top: 90px;
            }
            .new p{
                font-size: 25px;
                font-weight: 100;
                line-height: 25px;
                margin-top: 10px;
            }
            .new button{
                width: 200px;
                margin: 25px 10px;
                padding: 10px;
                text-align: center;
                border-radius: 25px;
                font-weight: bold;
                text-transform: uppercase;
                border: 1px solid rgba(5, 199, 248, 0.993);
                cursor: pointer;
                background: transparent;
                color: #fff;

            }
            button:hover{
                transition: 0.9s;
                background: rgb(167, 223, 204);
                z-index: -1;
                color: black;
            }
            .new1{
                float: right;
                margin-right: 20px;
            }
            .new1 .sc{
                background: wheat;
                
                width: 200px;
                
            }
            .box .dropdown{
                position: relative;
                display: inline-block;
                background: transparent;
            }
            .dropdown-content{
                display: none;
                position: absolute;
                background: transparent;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
               
            }
            .dropdown-content a{
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                background: transparent;
                font-family: Verdana;
                transition: 0.6s;
                border: 0.2px solid grey;
                
            }
            .dropbtn {
                background: transparent;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                font-family: Helvetica;
            }
            .dropdown-content a:hover{
                background-color: rgb(201, 235, 235);
                color: darkslategrey;
                
            }
            .dropdown:hover .dropdown-content {display: block;}

            .dropdown:hover .dropbtn {background-color: #6fe9e3;}
